.it{
    border: 1px solid rgb(22, 119, 255);
    padding: 4px 15px;
    font-family: "Shantell Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}